/* Place our custom styles if we need: */

/* targeting the div.new-flav which is the container of the three div(s) in the new flavours */
div.new-flav>div {
    /* box-sizing: border-box; no need to include this rule as Bootstrap already used it*/
    border: 10px solid rgb(140, 140, 145);
    /* We don't want to add left/rigt margins: */
    /* margin: 0 10px; */
}

.last-div {
    overflow: hidden;
}

.main-content {
    width: 80%;
    float: left;
}

.sidebar {
    width: 20%;
    float: left;
}